.log
.log_*
log_*
*.png
*.rar
*.fig
*.mat
*.pyc
*.zip
*.pdf
*log*
*.pth
datasets/
train_start.py
1.py
Figures/
printpdf.py
transfor.py
*.tif
models
*.hdr
*.roi
*.txt
generate_GT.py
*.out
*.pdf
*.gz
*.zip
*.svg
*.npy